header {
  max-width: 99.7vw;
  height: auto;
  margin: 0 auto;
  background-color: #181818 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .bg-dark {
  background-color: #181818 !important;
}

header #logo img {
  width: 80px;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

header #logo img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

header #logo a {
  text-decoration: none;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0;
}

header nav .btn-modal {
  color: #fff;
  font-weight: 700;
  background-color: transparent;
  border: 0;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

header nav .btn-modal:hover {
  background-color: transparent;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header nav .btn-modal:focus {
  background-color: none;
}

header nav .modal-content {
  background-color: #1d1d1d;
}

header nav .modal-content .logo {
  width: 200px;
  margin-left: 28%;
}

header nav .login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .login fieldset {
  margin: 24px 0;
}

header nav .login fieldset label {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 24px;
}

header nav .login fieldset input {
  background-color: #a8a8a8;
  width: 300px;
  border: 0;
  border-radius: 20px;
  padding: 8px;
  outline: 0;
  display: block;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

header nav .login fieldset input:focus {
  background-color: whitesmoke;
}

header nav .modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav li {
  list-style: none;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}

header nav li a {
  list-style: none;
  text-decoration: none;
  color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  font-weight: bold;
}

header nav li a:hover {
  color: #c54e4e !important;
  font-weight: bold;
  font-size: 1.1rem;
  -webkit-transform-origin: center;
          transform-origin: center;
}

header nav li:nth-child(4) {
  border-radius: 5px;
  background-color: #7c1717;
  padding: 5px 10px 5px;
}
/*# sourceMappingURL=header.css.map */