header {
    max-width: 99.7vw;
    height: auto;
    margin: 0 auto;
    background-color: #181818 !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .bg-dark {
        background-color: #181818 !important;
    }

    #logo {
        img {
            width: 80px;
            transition: 0.5s ease-in;
        }

        img:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
        }
    }

    nav {
        display: flex;
        align-items: center;
        padding: 0;

        ul {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;
        }

        .btn-modal {
            color: #fff;
            font-weight: 700;
            background-color: transparent;
            border: 0;
            transition: 0.3s ease-in-out;

            &:hover {
                background-color: transparent;
                transform: scale(1.2);
            }

            &:focus {
                background-color: none;
            }
        }

        .modal-content {
            background-color: #1d1d1d;

            .logo {
                width: 200px;
                margin-left: 28%;
            }
        }

        .login {
            display: flex;
            flex-direction: column;
            gap: 8px;
            align-items: center;

            fieldset {
                margin: 24px 0;

                label {
                    color: #fff;
                    font-size: 1.2rem;
                    font-weight: 800;
                    margin-top: 24px;
                }

                input {
                    background-color: rgb(168, 168, 168);
                    width: 300px;
                    border: 0;
                    border-radius: 20px;
                    padding: 8px;
                    outline: 0;
                    display: block;
                    transition: 0.2s ease-in-out;

                    &:focus {
                        background-color: whitesmoke;
                    }
                }
            }
        }

        .modal-footer {
            display: flex;
            justify-content: space-between;
        }

        li {
            list-style: none;
            text-decoration: none;
            font-weight: bold;
            padding: 0;
        }

        li a {
            list-style: none;
            text-decoration: none;
            color: #fff;
            transition: 0.3s ease-in;
            font-weight: bold;
        }

        li a:hover {
            color: #c54e4e !important;
            font-weight: bold;
            font-size: 1.1rem;
            transform-origin: center;
        }

        li:nth-child(4) {
            // color: #7c1717;
            border-radius: 5px;
            background-color: #7c1717;
            padding: 5px 10px 5px;
            // transform: scale(1.2);
            // font-size: 1.3rem;
        }
    }
}
