header {
    height: 90px;
<<<<<<< HEAD
    width: 100%;
    padding: 0;
    background-color: #000000;
    box-shadow: 2px 10px 10px #5e2020;
=======
<<<<<<< HEAD
    margin: 0;
    background-color: #181818;
=======
    background-color: #000000;
>>>>>>> b9496593275941877c097a9866b115ce0684f041
>>>>>>> 0fe05d9775feaa976cddf55cf6752cb8d7123549
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    #logo {

        img {
            width: 80px;
            transition: .5s ease-in;
        }

        img:hover {
            transform: scale(1.1);
        }

        a {
            text-decoration: none;
        }
    }

    menu {
        display: flex;
        align-items: center;
        padding: 0;

        ul {
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 0;
            margin: 0;
    
        }

            li {
            
                list-style: none;
                text-decoration: none;
                // font-weight: bold;
                padding: 0;

            }
    
            li a {
                list-style: none;
                text-decoration: none;
                color: #fff;
                transition: .3s ease-in;
                font-weight: bold;
            }
    
            li a:hover {
                color: #c54e4e !important;
                font-weight: bold;
                font-size: 1.1rem;
                transform-origin: center;
        
            }
    
            li:nth-child(4) {
                // color: #7c1717;
                border-radius: 5px;
                background-color: #7c1717;
                padding: 5px 10px 5px;
                // transform: scale(1.2);
                // font-size: 1.3rem;
            }
        }
    
    }

    

    

    